.poll-splash {
    padding-top: 20px;
    height: 100%;
    background-color: #000000;
}

.poll_list {
    height: 50%;
}

.question-ul {
    text-align: center;
}

.results-heading {
    padding-top: 50px;
}

.theme-green {
    color: #68f442;
    font-family: 'Bungee Inline', cursive;
}

.result-li {
    font-size: 20px;
    list-style-type: none;
}

.back-button {
    padding-left: 40px;
    padding-top: 20px;
}

a:hover {
    color: white;
}

.choice {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.choice-button {
    padding-right: 40px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

.question_block {
    height: 100px;
    border-style: solid;
}

.clickable {
    padding-top: 30px;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.question_block:hover {
    background-color: #535456;
}