<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        {% include "home/head.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
        <div class="background-image-sunset full-height-viewport">
            {% include "home/nav.html" %}
            <div class="col-sm-12 about-splash">
                <div class="col-sm-3">
                    <h3>Our Mission</h3>
                    <p>
                        Thought Cosmonaut is a fully independent content platform dedicated to our mission of thought provoking media. Anyone with a desire to learn or teach may contribute to the site, so long as they adhere to our Content Guidelines and align their goals with our Mission: 
                        </br>
                        </br>
                        To empower those who wish to end the day knowing more than they did when they woke up. We strive to use the gifts of technology and accessible knowledge that the Internet has provided to contribute to the greater dialogue of the shared human culture. Thought Cosmonaut serves as an experiment in collaboration across physical and ideological distances to add our voices to the conversation. 
                        </br>
                        </br>
                        <h4>Content Guidelines: </h4>
                        </br>
                        </br>
                        All submissions will be reviewed by our team of editors and moderators to ensure that all content fits our Mission. Content that advocates violence, harassment, or other harm to any party is strictly forbidden. Thought Cosmonaut has the right to accept or refuse any content submission for any reason, as well as the right to retroactively refuse any submission by removing it from the site, should we deem such action appropriate. 
                        </br>
                        </br>
                        Please direct all submissions, suggestions, or inquiry to thoughtcosmonaut@gmail.com. 
                        </br>
                        </br>
                        Please direct any bug submissions or technical support inquiry to ragequittechmail@gmail.com </br>
                        </br>
                        Please use the subject “BUG REPORT” or “SUPPORT REQUEST” as appropriate. Examples of support requests include password resets, account re-generation, or assistance with site functionality. Bug reports may include aspects of certain pages failing to load or instances where pages load but in an incorrect fashion. Please include screenshots with bug reports when possible.

                    </p>
                </div>
                <div class="col-sm-3">
                    <h3>Staff</h3>
                    <p>
                        We're now accepting applications for site moderators and editors! Please contact thoughtcosmonaut@gmail.com with the subject "STAFF INQUIRY" to apply. Please include a short biography as well as a writing sample of any length.
                    </p> 
                </div>
                <div class="col-sm-3">
                    <h3>Contributors</h3>
                        <p>
                            We are now accepting new contributors! Please see our Content Guidelines for more information. 
                        </p>
                </div>
                <div class="col-sm-3">
                    <h3>Sponsors</h3>
                        <p>
                            Would you like to sponsor Thought Cosmonaut? If so, please contact  thoughtcosmonaut@gmail.com with the subject "SPONSORSHIP INQUIRY" for further information.
                        </p>
                </div>
            </div>
        </div>
    </body>
</html>