<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        {% include "home/head.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
        <div class="background-image-moon full-height-viewport">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <p>
                        Thought Cosmonaut is a fully independent content platform dedicated to 
                    </p>
                </div>
                <div class="col-sm-3">
                    
                </div>
                <div class="col-sm-3">
                    
                </div>
                <div class="col-sm-3">
                    
                </div>
            </div>
        </div>
    </body>
</html>