<div class="container-fluid">
    <div class="row">
            <div class="col-md-12">
                <div class="col-sm-4">
                    <p class="theme-white">Test</p>
                </div>
                <div class="col-sm-4">
                    <p class="theme-white title-font">RageQuitTech {{ now }}</p>
                </div>
                <div class="col-sm-4">
                    <p class="theme-white">Hi Phoebe</p>
                </div>
            </div>
        </div>
</div>