{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    {% include 'home/head.html' %}
</head>

<div class="container-fluid footer-background">
    <div class="row">
                <div class="col-sm-4">
                    <a href="https://www.patreon.com/thoughtcosmonaut" class="title-font color-black">Support Us</a>
                </div>
                <div class="col-sm-4 color-black">
                    <p class="title-font">Thought Cosmonaut   |   {{ now }}</p>
                </div>
                <div class="col-sm-4">
                    <a href="https://github.com/npeters52/thought-cosmonaut" class="title-font color-black">GitHub</a>
                </div>
        </div>
</div>