<div class="container-fluid">
    <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <a href="https://www.patreon.com/thoughtcosmonaut" class="theme-white title-font">Support Us</a>
                </div>
                <div class="col-sm-4">
                    <p class="theme-white title-font">Thought Cosmonaut {{ now }}</p>
                </div>
                <div class="col-sm-4">
                    <a href="https://github.com/npeters52/thought-cosmonaut" class="theme-white title-font">GitHub</a>
                </div>
            </div>
        </div>
</div>