{% load static %}

<title>Thought Cosmonaut</title>  
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<!-- jquery -->
<script src="//code.jquery.com/jquery.js"></script>         
<!-- font-awesome -->
<script src="https://use.fontawesome.com/6d1f38039d.js"></script>
<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">