{% load static %}
<html>
    <head>
        {% include "home/head.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
        <div>
            <div class="col-sm-12 home-splash">
                <div>
                    {% include "home/nav.html" %}
                </div>
                <div class="row">
                    <div class="col-sm-12 home-main">
                        {% include 'blog/blog_index.html' %}
                        <div class="col-sm-8 poll">
                            {% include 'polls/index.html' %}
                        </div>
                    </div>
                </div>
                <div class="row col-sm-7">

                </div>
                <div class="row col-sm-5">

                </div>
            </div>
        </div>
    </body>
</html>
