{% load static %}
{% load search %}
<head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav-style.css' %}"/>
        {% include 'home/head.html' %}
</head>
<!--<img src="/MEDIA/logo.png">-->
<div class="topnav" id="myTopnav">
        <a class="title-font title" href="{% url 'home' %}">Thought Cosmonaut</a>
        <a class="title-font nav-li nav-a" href="https://twitter.com/ThoughtCosmona1">Stream of Thought</a>
        <a class="title-font nav-li nav-a" href="/podcast">Podcast</a>
        <a class="title-font nav-li nav-a" href="/blog">Blog</a>
        <div class="title-font nav-li search-container color-black" id="search">
          <form action="/search" method="GET">
            <input type="text" class="form-control" name="q" placeholder="Search..." name="search" value='{{ request.GET.q }}'>
            {% comment %} <button type="submit"><i class="fa fa-search"></i></button> {% endcomment %}
          </form>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="navResponsive()">
            <i class="fa fa-bars"></i>
        </a>
        <a href="javascript:void(0);" class="icon" onclick="searchResponsive()">
          <i class="glyphicon glyphicon-search"></i>
        </a>
</div>


<script>
  /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
  function navResponsive() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
  } 

  function searchResponsive() {
    var y = document.getElementById("search");
    if (y.className === "search-container") {
      y.className += " search-icon";
    } else {
      y.className = "search-container";
    }
  }
</script>