{% load static %}
{% load search %}
<head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/nav-style.css' %}"/>
</head>
<!--<img src="/MEDIA/logo.png">-->
<div class="topnav" id="myTopnav">
        <a class="title-font title" href="{% url 'home' %}">Thought Cosmonaut</a>
        <a class="title-font nav-li nav-a" href="https://twitter.com/cosmo_thought">Stream of Thought</a>
        <a class="title-font nav-li nav-a" href="/podcast">Podcast</a>
        <a class="title-font nav-li nav-a" href="/blog">Blog</a>
        <!--search-->
        <div class="title-font nav-li search-base search-container color-black" id="search">
          <form action="/search" method="GET">
            <input type="text" class="form-control" name="q" placeholder="Search..." name="search" value='{{ request.GET.q }}'>
          </form>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="navResponsive()">
            <i class="fa fa-bars"></i>
        </a>
        <a href="javascript:void(0);" class="search-icon" id="searchIcon" onclick="searchResponsive()">
          <i id="searchImage" class="glyphicon glyphicon-search"></i>
        </a>
</div>


<script>
  /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
  function navResponsive() {
    var x = document.getElementById("myTopnav");
    var y = document.getElementById("search");
    var w = document.getElementById("searchIcon");
    if (x.className === "topnav") {
        x.className += " responsive";
        w.className += " responsive";
    } else {
        x.className = "topnav";
        y.className = "search-container";
        w.className = "search-icon";
    }
  } 

  function searchResponsive() {
    var y = document.getElementById("search");
    var z = document.getElementById("searchImage")
    if (y.className === "search-base") {
      y.className += " search-container";
    } else {
      y.className = "search-base";
    }
    if (z.className === "glyphicon glyphicon-search") {
      z.className = "glyphicon glyphicon-remove";
    } else {
      z.className = "glyphicon glyphicon-search"
    }
  }
</script>