{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/podcast.css' %}">
</head>
    <div>
        <div class="row col-sm-12 podcast-home-splash">
            <div class="row">
                <div class="podcast-splash">
                    {% if podcast_list %}
                    <div class="row podcast-block">
                        {% for podcast in podcast_list %}
                        <div  class="row col-sm-4">
                              <h3>
                                <a class="color-black title-font top-article-title" style="text-decoration:none" href="{% url 'podcast:podcast_detail' podcast.id %}">{{ podcast.name }}</a>
                              </h3>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                        <p>No podcasts are available</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>