{% load staticfiles %}

<head>
    {% include "home/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/podcast.css' %}">
</head>

<body class="full">
    <div class="container-fluid">
        <div class="col-sm-12 podcast-archive-splash">
            <div>
                {% include "home/nav.html" %}
            </div>
            <div class="text-center theme-black margin-fix">
                <h1 class="theme-yellow text-center title-font podcast-title">Podcast Archive</h1>
                <div class="margin-fix">
                    {% if podcast_list %}
                    <ul class="podcast-block img-responsive">
                        {% for podcast in podcast_list %}
                        <div  class="row col-sm-12 podcast-block center theme-black">
                            <li>
                              <h1>
                                <a class="theme-green title-font top-article-title" style="text-decoration:none" href="{% url 'podcast:podcast_detail' podcast.id %}">{{ podcast.name }}
                              </h3>
                              <h4>
                                  <p class="theme-green title-font">
                                      {{podcast.pub_date}}
                                  </p>
                              </h4>
                              <img class="resize" href="{% url 'podcast:podcast_detail' podcast.id %}" src="{{podcast.splash_image.url}}">
                            </li>
                        </div>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p>No podcasts are available</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="podcast-footer text-center">
            <h1>
                <a class="theme-green title-font" href="https://www.youtube.com/channel/UCqoLuruSGXpTlHLOzh_h1Ew">Full Podcast List</a>
            </h1>
        </div>
    </div>
</body>
