{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/podcast.css' %}">
</head>
    <div>
        <div class="row col-sm-12 podcast-home-splash">
            <div class="row col-sm-12">
                <div class="podcast-splash">
                    {% if podcast_list %}
                    <ul class="podcast-block">
                        {% for podcast in podcast_list %}
                        <div  class="row col-sm-12">
                              <h3>
                                <a class="theme-green top-article-title" style="text-decoration:none" href="{% url 'podcast:podcast_detail' podcast.id %}">{{ podcast.name }}</a>
                              </h3>
                        </div>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p>No podcasts are available</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>