.theme-green {
    color: #00ff37;
    font-family: 'Bungee Inline', cursive;
}

.title-font {
  font-family: 'Bungee Inline', cursive;
}

.theme-white {
  color: white;
}

.theme-black {
  background-color: black;
}

.theme-yellow {
    color: #ffff00;
    font-family: 'Bungee Inline', cursive;
}

.theme-purple {
  color: #f218dc;
  font-family: 'Bungee Inline', cursive;
}

.theme-blue {
  color: blue;
  font-family: 'Bungee Inline', cursive;
}

a:hover {
  color: #f218dc !important;
}

.blog-splash {
  padding-top: 50px;
  height: 100%;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.blog-sidebar {
  height: 75%;
  display: block;
  float: left;
  padding-top: 12%;
}

.blog-content {
  margin-left: 190px !important;
  margin-right: 150px !important;
}

.article_block {
    height: 50px;
}

.top-article {
  height: 30% !important;
  display: block;
  float: left;
  padding-top: 5%;
}

.top-article-title {
  font-size: 70px;
}

.blog-ul {
  list-style: none;
  margin-top: 5%;
}

.home-img-resize {
  max-width:100%;
  max-height:100%;
}

.blog-sidebar-item {
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 5%;
  margin-top: 5%;
}

.resize {
  width: 100%;
  height: 100%;
}

.preview-image {
  display: block;
  width: 100%;
  height: 300%;
}

.article-list {
  font-size: 180%;
}

.blog-list {
  height: 100%;
}

.article-block {
    margin-top: 40px;
}

.archive-splash {
  padding-top: 90px;
}

.full {
  height: 100%;
  width: 100%;
}

.padding-bottom {
  padding-bottom: 30px;
}

.blog-title {
  font-size: 70px;
}

.blog-image {
  height: 100%;
}

.blog-detail-footer {
  margin-top: 15%;
}

.pagination {
  font-size: 30px;
}

.color-black {
  color: black;
}

.background-white {
  background-color: white;
}

@media screen and (max-width: 1370px) {
  .archive-splash {
    padding-top: 500px;
  }
}
