.theme-green {
    color: #00ff37;
    font-family: 'Bungee Inline', cursive;
}

.blog-body {
  background-image: url("/MEDIA/sunset_splash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-font {
  font-family: 'Bungee Inline', cursive;
}

.color-white {
  color: white;
}

.theme-black {
  background-color: black;
}

.theme-yellow {
    color: #ffff00;
    font-family: 'Bungee Inline', cursive;
}

.theme-purple {
  color: #f218dc;
  font-family: 'Bungee Inline', cursive;
}

.theme-blue {
  color: blue;
  font-family: 'Bungee Inline', cursive;
}

a:hover {
  color: #f218dc !important;
}

.blog-splash {
  height: 100%;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.blog-sidebar {
  height: 75%;
  display: block;
  float: right !important;
  padding-top: 6%;
}

.blog-content {
  margin-left: 190px !important;
  margin-right: 150px !important;
}

.article_block {
    height: 50px;
}

.top-article {
  height: 30% !important;
  display: block;
  float: left;
  padding-top: 5%;
}

.top-article-title {
  font-size: 5vw;
}

.blog-ul {
  list-style: none;
  margin-top: 5%;
  padding-bottom: 15%;
}

.home-img-resize {
  width:100% !important;
  max-height:100%;
}

.top-article-text {
   display: block;
   font-size: 16px !important;
}

.blog-sidebar-item {
  height: 200px;
  width: 400px;
  float: right !important;
  margin-right: 5%;
  margin-bottom: 15%;
}

.resize {
  width: 100%;
  height: 100%;
}

.preview-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.article-list {
  font-size: 180%;
}

.blog-list {
  height: 100%;
}

.article-block {
    margin-top: 40px;
}

.archive-splash {
  padding-top: 90px;
}

.full {
  height: 100%;
  width: 100%;
}

.padding-bottom {
  padding-bottom: 30px;
}

.blog-title {
  font-size: 70px;
}

.blog-image {
  max-height: 100%;
}


.pagination {
  font-size: 30px;
}

.color-black {
  color: black;
}


.background-white {
  background-color: white;
}

.display-block {
  display: block;
  max-height: 100%;
}

.blog-preview-text {
  font-size: 16px;
  height: 45%;
  overflow: hidden;
}


/* Responsive Media Queries */
/* max width = "anything smaller than x"  */

/* WHERE OVERLAP BEGINS, FORCE ELEMENTS TO HIDE */
@media screen and (max-width : 800px) {
  .top-article {
    
  }
  .preview-image {
    display: none !important;
  } 
  .list-preview-image {
    display: none !important;
  }
  .blog-sidebar-item {
    height: 25%;
    width: 25%;
    clear: both;
    float: left !important;
    margin-bottom: 0%;
  }
}

/* MEDIUM */
/* LAPTOPS, SMALLER DESKTOP SCREENS */
@media screen and (max-width: 1470px) {
  .archive-splash {
    /* padding-top: 500px; */
  }
  .top-article-text {
    display: none !important;
  }
  .blog-preview-text {
    display: none !important;
  }
}

/* SMALL */
/* MOBILE PHONES, SMALL TABLETS */
@media screen and (max-width: 768px) {
  .blog-sidebar {
    float: left !important;
    position: relative;
  }
  .top-article-title {
    font-size: 50px;
    float: none;
  }
  .article-list {
    font-size: 50px;
  }
  .preview-image {
    display: none !important;
  } 
  .blog-list {
    text-align: center;
  }
  .blog-ul {
    text-align: right !important;
  }
  .blog-splash {
    height: 100%;
    margin-left: 5vh !important;
  }
}