.theme-green {
    color: #00ff37;
    font-family: 'Bungee Inline', cursive;
}

.theme-white {
  color: white;
}

.theme-black {
  background-color: black;
}

.theme-yellow {
    color: #ffff00;
    font-family: 'Bungee Inline', cursive;
}

.theme-purple {
  color: #f218dc;
  font-family: 'Bungee Inline', cursive;
}

a:hover {
  color: #f218dc !important;
}

.blog-splash {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.blog-sidebar {
  height: 75%;
  display: block;
  float: right;
  padding-top: 75px;
}

.blog-content {
  margin-top: 50px;
  margin-left: 190px !important;
  margin-right: 150px !important;
}

.article_block {
    height: 50px;
}

.top-article {
  height: 30% !important;
  display: block;
  float: left;
  padding-top: 5%;
}

.top-article-title {
  font-size: 70px;
}

.blog-ul {
  list-style: none;
  margin-top: 25px;
}

.resize {
  width: 100%;
  height: 100%;
}

.preview-image {
  display: block;
  width: 100%;
  height: 300%;
}

.article-list {
  font-size: 30%;
}

.blog-list {
  height: 100%;
}

.article-block {
    margin-top: 40px;
}

.archive-splash {
  padding-top: 90px;
}

.full {
  height: 100%;
  width: 100%;
}

.padding-bottom {
  padding-bottom: 30px;
}

.blog-title {
  font-size: 50px;
}

.blog-image {
  height: 100%;
}
