.site-nav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  z-index: 1;
  margin-left: -15px;
  width: 98%;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.nav-li {
    float: left;
    margin-top: 15px;
}

.nav-a {
    display: block;
    font-size: 20px;
    color: #00ff37;
    text-align: center;
    padding: 10% 10%;
    text-decoration: none;
}

.nav-li a:hover {
    color: #f218dc;
}

.title-font {
    font-family: 'Bungee Inline', cursive;
}

.question_block {
    height: 30px;
    margin-top: 15px;
}

.question-ul {
    list-style-type: none;
}

.title {
  color: #f218dc;
  float: left;
  display: block;
  font-size: 40px;
  color: #ffff00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.theme-purple {
  color: #f218dc;
}

.nav-search input[type=text] {
    float: right;
    padding: .05%;
    border: none;
    margin-top: 2%;
    margin-right: 3%;
    font-size: 17px;
}
