.site-nav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  z-index: 1;
  margin-left: -15px;
  width: 98%;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.nav-li {
    float: left;
    margin-top: 15px;
}

.nav-a {
    display: block;
    font-size: 25px;
    color: #00ff37;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
}

.nav-li a:hover {
    color: #f218dc;
}

.title-font {
    font-family: 'Bungee Inline', cursive;
}

.question_block {
    height: 30px;
    margin-top: 15px;
}

.question-ul {
    list-style-type: none;
}

.title {
  color: #f218dc;
  float: left;
  display: block;
  font-size: 40px;
  color: #ffff00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.theme-purple {
  color: #f218dc;
}

.nav-search input[type=text] {
    float: right;
    padding: .05%;
    border: none;
    margin-top: 2%;
    margin-right: 5%;
    font-size: 17px;
}

/*RESPONSIVE SEARCH BAR*/

.topnav {
    overflow: hidden;
    background-color: black;
    position: fixed;
    z-index: 1;
    width: 98%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #00ff37;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 23px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }

@media screen and (max-width: 1350px) {
    .topnav .search-container {
        float: none;
      }
      .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
      .topnav input[type=text] {
        border: 1px solid #ccc;  
      }
}