.podcast-splash {

    height: 100%;
    width: 100%;
}

.full {
  width: 100%;
}

.podcast-archive-splash {
  height: 100%;
  background-color: black;
}

.podcast-block {
  list-style: none;
}

.splash-resize {
  width: 50%;
  height: 50%;
}

.podcast-home-splash {
  margin-top: -10%;
  padding-left: 20%;
}

.title-font {
  font-family: 'Bungee Inline', cursive;
}

.theme-green {
  color: #00ff37;
}

.theme-black {
 background-color: black;
}

.margin-fix {
  width: 100%;
}

.theme-yellow {
  color: #ffff00;
  font-family: 'Bungee Inline', cursive;
}

.podcast-content {
  padding-top: 40px;
}

a:hover {
  color: #f218dc !important;
}

.resize {
  height: 500px;
  width : 700px;
}

.center {
   margin: auto;
}

.podcast-footer {
  background-color: black;
  padding-bottom: 50px;
  padding-left: 6%;
}

.podcast-title {
  padding-top: 105px;
  font-size: 50px;
}
