.podcast-splash {
    height: 100%;
    width: 100%;
}

.full {
  width: 100%;
  height: 100%
}

.podcast-archive-splash {
    background-image: url("/MEDIA/forest_night_splash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.podcast-block {
  list-style: none;
}

.splash-resize {
  width: 50%;
  height: 50%;
}

.podcast-home-splash {
  margin-top: -10%;
  padding-left: 20%;
}

.title-font {
  font-family: 'Bungee Inline', cursive;
}

.theme-green {
  color: #00ff37;
}

.theme-black {
 background-color: black;
}

.theme-white {
  background-color: white;
}

.margin-fix {
  width: 100%;
}

.theme-yellow {
  color: #ffff00;
  font-family: 'Bungee Inline', cursive;
}

.podcast-content {
  margin-top: 8%;
}

a:hover {
  color: #f218dc !important;
}

.resize {
  height: 500px;
  width : 700px;
}

.center {
   margin: auto;
}

.podcast-header {
  padding-top: 20px;
  padding-bottom: 10px;
  
}

.podcast-title {
  padding-top: 105px;
  font-size: 70px;
}

.podcast-details {
  margin-bottom: 15%;
}

.podcast-archive-content {
  margin-bottom: 15%;
}

.podcast-archive-footer {
  margin-top: 15%;
}

.pagination {
  font-size: 30px;
}

.color-black {
  color: black;
}

@media screen and (max-width: 1370px) {
  .podcast-index-archive {
    padding-top: 400px;
  }
}