.podcast-splash {
    padding-top: 100px;
    background-color: black;
    height: 200%;
    width: 100%;
}

.podcast-block {
  list-style: none;
}

.splash-resize {
  width: 50%;
  height: 50%;
}

.podcast-home-splash {
  margin-top: -10%;
  padding-left: 20%;
}

.title-font {
  font-family: 'Bungee Inline', cursive;
}

.theme-green {
  color: #68f442;
}

.theme-black {
 background-color: black;
}

.margin-fix {
  width: 100%;
}

.theme-yellow {
  color: #ffff00;
  font-family: 'Bungee Inline', cursive;
}

.podcast-content {
  padding-top: 40px;
}

a:hover {
  color: white !important;
}

.resize {
  height: 500px;
  width : 700px;
}

.center {
   margin: auto;
}
