.preview-resize {
    height: 650px;
    width: 900px;
}

.title-font {
    font-family: 'Bungee Inline', cursive;
}

.home-splash {
    padding-top: 30px;
    width: 100%;
    background-color: white;
    height: 100%;
}

.theme-green {
    color: #00ff37;
}

.theme-yellow {
    color: #ffff00;
}

.theme-white {
    color: white;
}

.theme-black {
    color: black;
}

.display-inline {
  display: inline;
}

.poll {
    height: 30%;
}

.podcast {
    background-color: white;
    height: 30%;
}

.full-width {
    width: 100%;
}

.full-page {
    width: 100%;
}

.podcast-home {
    padding-top: 15%;
}

.footer-background {
    background-color: black;
}

@media screen and (max-width: 1370px) {
    .home-splash {
      padding-top: 400px;
    }
}