.preview-resize {
    height: 650px;
    width: 900px;
}

.title-font {
    font-family: 'Bungee Inline', cursive;
}

.home-splash {
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

.background-image-night {
    background-image: url("/MEDIA/space_splash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.background-image-mountains {
    background-image: url("/MEDIA/mountain_splash.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-moon {
    background-image: url("/MEDIA/about_moon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.full-page {
    height: 100%;
    width: 100%;
}

.full-height-viewport {
    height: 100vh;
}

.theme-green {
    color: #00ff37;
}

.theme-yellow {
    color: #ffff00;
}

.theme-white {
    background-color: white;
}

.theme-black {
    color: black;
}

.display-inline {
  display: inline;
}

.poll {
    height: 30%;
}

.podcast {
    background-color: white;
    height: 30%;
}

.full-width {
    width: 100%;
}

/* .full-page {
    width: 100%;
} */

.podcast-home {
    padding-top: 25%;
    height: 75%;
    width: 100%;
}

.footer-bottom {
    padding-top: 10%;
}

.color-black {
    color: black;
}

/* Responsive Media Queries */

/* MEDIUM */
/* LAPTOPS, SMALLER DESKTOP SCREENS */
@media screen and (max-width: 1470px) {

}
  
/* SMALL */
/* MOBILE PHONES, SMALL TABLETS */
@media screen and (max-width: 768px) {
    .full-page {
        
    }
}