.preview-resize {
    height: 650px;
    width: 900px;
}

.title-font {
    font-family: 'Bungee Inline', cursive;
}

.home-splash {
    margin-top: 30px;
    width: 100%;
    background-color: black;
    height: 100%;
}

.theme-green {
    color: blue;
}

.theme-yellow {
    color: #ffff00;
}

.theme-white {
    color: white;
}

.theme-black {
    color: black;
}

.display-inline {
  display: inline;
}

.poll {
    height: 30%;
}

.podcast {
    background-color: black;
    height: 30%;
}

.full-width {
    width: 100%;
}

.full-page {
    width: 100%;
}
