.preview-resize {
    height: 650px;
    width: 900px;
}

.title-font {
    font-family: 'Bungee Inline', cursive;
}

.home-splash {
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

.background-image-night {
    background-image: url("/MEDIA/space_splash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.background-image-mountains {
    background-image: url("/MEDIA/mountain_splash.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.full-page {
    height: 100vh;
}

.theme-green {
    color: #00ff37;
}

.theme-yellow {
    color: #ffff00;
}

.theme-white {
    background-color: white;
}

.theme-black {
    color: black;
}

.display-inline {
  display: inline;
}

.poll {
    height: 30%;
}

.podcast {
    background-color: white;
    height: 30%;
}

.full-width {
    width: 100%;
}

.full-page {
    width: 100%;
}

.podcast-home {
    padding-top: 25%;
    height: 75%;
    width: 100%;
}

.footer-background {
    background-color: white;
}

.color-black {
    color: black;
}

/* Responsive Media Queries */

@media screen and (max-width: 1280px) {
    .home-splash {
      
    }
}