{% load static %}

<head>
    {% include "home/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/poll-style.css' %}"/>
</head>
<body>
    {% include "home/nav.html" %}
    <div class="row col-sm-12 poll-splash text-center theme-green">
        <h1> {{question.question_text}} </h1>
        <div class="row col-sm-12">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
                {% for choice in question.choice_set.all %}
                        <input class="choice-button btn btn-warning" type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                        <label class="choice" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                {% endfor %}
                <input class="btn btn-primary submit" type="submit" value="Vote" />
                </form>
        </div>
    </div>
</body>