{% load staticfiles %}

<head>
  {% include "home/head.html" %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}"/>
</head>

<body class="theme-black">
    <div class="container-fluid theme-black">
        <div class="row col-sm-12 theme-black full">
            <div>
                {% include "home/nav.html" %}
            </div>
            <div class="row blog-splash">
                <div class="blog-post-image text-center">
                    <img src="{{article.image.url}}">
                </div>
                <div class="row text-center theme-green">
                    <h1>{{article.title}}</h1>
                    <h3>by: {{article.author}}</h3>
                    <h4>{{article.pub_date}}</h4>
                </div>
                <div class="row blog-content theme-white">
                {{article.content|safe}}
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center theme-white blog-detail-footer">
            {% include "home/footer.html" %}
    </div>
</body>
