<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  {% include "home/head.html" %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}"/>
</head>

<body>
    <div>
        <div class="blog-body full">
            <div>
                {% include "home/nav.html" %}
            </div>
            <div class="row blog-content-splash">
                <div class="blog-post-image text-center">
                    <img class="post-image" src="{{article.image.url}}">
                </div>
                <div class="row text-center color-white title-font">
                    <h1>{{article.title}}</h1>
                    <h3>by: {{article.author}}</h3>
                    <h4>{{article.pub_date}}</h4>
                </div>
                <div class="row blog-content color-white">
                {{article.content|safe}}
                </div>
                <div class="row text-center">
                        {% include "home/footer.html" %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>