{% load staticfiles %}

<head>
    {% include "home/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}"/>
</head>

<body>
    <div class="container-fluid">
      <div class="row blog-splash col-m-12">
        {% if article_list %}
        <div class="blog-list">
          <div class="col-sm-4 top-article">
            <!-- START TOP ARTICLE -->
              {% for article in top_article %}
              <div class="row">
                <h3>
                  <a class="color-black title-font top-article-title blog-new-article-parse" style="text-decoration:none" href="{% url 'blog:blogpost' article.id %}">{{ article.title }}</a>
                </h3>
              </div>
                {% if article.preview_image %}
                <div class="row blog-image">
                    <img class="preview-image" src="{{article.preview_image.url}}">
                </div>
                {% else %}
                  <p>No preview image available</p>
                {% endif %}
                <div class="row top-article-text">
                    <p class="color-black">
                        {{ article.content|striptags|truncatewords:50 }}
                    </p>
                </div>
              {% endfor %}
              <!-- END TOP ARTICLE -->
          </div>
          <div class="col-sm-8 blog-sidebar">
            <ul class="blog-ul">
              <!-- ARTICLE LIST START -->
                {% for article in article_list %}
                  {% if article.preview_image %}
                    <div class="col-sm-4 blog-sidebar-item display-block">
                      <img src="{{article.preview_image.url}}" class="rounded home-img-resize" alt="article.title">
                      <li>
                          <a class="color-black title-font article-list" href="{% url 'blog:blogpost' article.id %}">{{ article.title }} </a>
                      </li>
                      <li>
                        <p class="color-black">
                          {{ article.content|striptags|truncatewords:50 }}
                        </p>
                      </li>
                    </div>
                    {% else %}
                    <div  class="row jumbotron jumbotron-fluid text-center">
                        <li>
                            <a class="color-black title-font article-list" href="{% url 'blog:blogpost' article.id %}">{{ article.title }} </a>
                        </li>
                        <li>
                            <p class="blog-preview-text color-black">
                              {{ article.content|striptags|truncatewords:50 }}
                            </p>
                        </li>
                    </div>
                  {% endif %}
                {% endfor %}
                <!-- ARTICLE LIST END -->
            </ul>
          </div>
        </div>
        {% else %}
            <p> No articles are available </p>
        {% endif %}
      </div>
    </div>
</body>
