.blog-splash {
  margin-top: 100px;
}

.blog-content {
  margin-top: 50px;
  margin-left: 190px !important;
  margin-right: 150px !important;
}

.article_block {
    height: 50px;
}

.top-article {
  height: 200px !important;
}
