
.title-font {
    font-family: 'Bungee Inline', cursive;
}

.home-splash {
    margin-top: 30px;
    width: 100%;
    background-color: #000000;
}

.theme-green {
    color: #68f442;
}

.theme-yellow {
    color: #ffff00;
}

.display-inline {
  display: inline;
}

.poll {
    height: 30%;
}

.podcast {
    background-color: rgb(0, 0, 0);
    height: 30%;
}

.full-width {
    width: 100%;
}
