
.title-font {
    font-family: 'Bungee Inline', cursive;
}

.home-splash {
    margin-top: 30px;
    width: 100%;
    background-color: #000000;
}

.theme-green {
    color: #68f442;
}

.theme-yellow {
    color: #ffff00;
}

.display-inline {
  display: inline;
}

.poll {
  margin-top: -30px;
  margin-left: -45px !important;
}
